{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Giriş Yap" %}{% endblock %}
{% block sidebar %}
                  {% for c in comment %}
	<h3>{{ c.title }}</h3>
    				<p></p>
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>
    				<p class="pull-right">07.08.2016 12:05
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>

                {% endfor %}
{% endblock sidebar %}

{% block content %}


                    {% for c in comment %}
	<h3>{{ c.title }}</h3>
    				<p></p>
    				<i class="fa fa-angle-up fa-2x"></i>
    				<i class="fa fa-angle-down fa-2x"></i>
    				<p class="pull-right">07.08.2016 12:05
						<a href="#">nickname</a>
						<a href="#">...</a>
					</p>

                {% endfor %}


{% endblock content %}
