{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Dictionary" %}{% endblock %}
{% block sidebar %}
{% endblock sidebar %}
{% block content %}
    <h1>Böyle bir şey yok...</h1>
            {% if request.user.is_authenticated %}
                     <form action="{% url "topics:add_topic" %}" method="POST" role="form">
                    {% csrf_token %}
                         <input type="hidden" name="topic">
                   <div class="form-group">
                      <textarea class="form-control" rows="5" name="title" placeholder="başlık ekle"></textarea><br>
                      <button class="btn btn-success">gönder</button>
                    </div>
            </form>
        {% else %}
        {% endif %}
{% endblock content %}
{% block javascript %}
{% endblock javascript %}
