{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Dictionary" %}{% endblock %}
{% block sidebar %}

{% endblock sidebar %}

{% block content %}
    {% for d in contacts %}
        {% if forloop.first %}
             <h1> {{ d.topic.title }}</h1>
            {% if show_remove_link  %}
                <a href="{% url 'event:event' d.topic.id %}" onclick="myFunction()" id="follow">Takip Et.</a>
                {% else %}
                <a href="{% url 'event:delete_event' d.topic.id %}" onclick="myFunction1()" id="follow">Takip Etme.</a>
                {% endif %}
            <a href="{% url "users:profile_detail" user.id %}">{{ d.user.username }}</a>

        {% endif %}
    {% endfor %}
            {% for c in contacts %}

	                <h3>{{ c.content }}</h3>
    				<p></p>
    				<a href="{% url 'topics:like' c.id %}"><i class="fa fa-angle-up fa-2x"></i></a>
    				<a href="{% url 'topics:delete_like' c.id %}"><i class="fa fa-angle-down fa-2x"></i></a>
                    <i class="fa fa-tint fa-1x">{{ total }}</i>
    				<p class="pull-right">{{ c.created_at }}
					<a href="{% url "users:profile_detail" user.id %}">{{ c.user.username }}</a>
                    <a href="{% url 'event:complaint' c.id %}">Şikayet Et</a>
					</p>

            {% endfor %}

<div class="pagination">
    <span class="step-links">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
        </span>

        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
            {% if request.user.is_authenticated %}
                     <form action="{% url 'topics:new_entry'  %}" method="POST" role="form">
                    {% csrf_token %}
                         <input type="hidden" value="{{ topic_id }}" name="topic">
                   <div class="form-group">
                      <textarea class="form-control" rows="5" name="content" placeholder="konu hakkında bilgi veriniz"></textarea><br>
                      <button class="btn btn-success">gönder</button>
                   </div>
            </form>

        {% else %}
        {% endif %}

{% endblock content %}
{% block javascript %}
    <script>
    function myFunction() {
    document.getElementById("follow").innerHTML = "Takip Etme.";
}
    function myFunction1() {
    document.getElementById("follow").innerHTML = "Takip Et.";
}
    </script>

{% endblock javascript %}

